.container_div{
    margin: 20px;
    background-color: whitesmoke;
}
.CharacterList {
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background-image: url("../../assets/rick_and_morty.jpg");
    background-size: contain;
}

h1 {
    text-align: center;
}
.char {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.searchBar {
    margin-right: 130px;
}

.navbar_style {
    background-color: black;
}

.navbar_brand {
    margin-left: 130px;
}
.card_list {
    margin: 2%;
    border-style: groove;
    border-radius: 2%;
}